body {
    background-color: azure;
}

#md {
    display: flex;
    height: 100vh;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
}

#d1 {
    height: 250px;
    width: 250px;
    margin-left: 250px;
    margin-top: 250px;
    padding: 10px;
    font-family: Helvetica;
    font-style: normal;
    font-size: medium;
    text-align: center;
}

#d3 {
    height: 540px;
    width: 2px;
    background-color: black;
    margin-top: 150px;
    margin-right: 30px;
}

#d2 {
    height: 400px;
    width: 340px;
    margin-top: 170px;
    margin-right: 200px;
    padding: 10px;
    font-family: Helvetica;
    font-style: normal;
    font-size: medium;
    text-align: center;
}

label {
    font-family: Helvetica;
    font-size: large;
    font-weight: bold;
    padding: 30px;
}

input {
    font-family: Helvetica;
    font-size: medium;
    border: 3px solid black;
    padding: 5px;
}

input:hover {
    background-color: aquamarine;
    transform: scale(1.05);
}

#sub1,
#sub2 {
    background-color: lightblue;
}

#sub1:hover,
#sub2:hover {
    background-color: green;
}

#form1 {
    padding: 25px;
    border: 3px solid black;
}

#form2 {
    padding: 70px;
    border: 3px solid black
}