html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    background: url("../res/images/Background.jpg")10%/ cover;
}

#status_bar {
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.71);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px;
}

#status_bar #profile_container {
    margin-right: 30px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#status_bar #profile_container img {
    height: 25px;
    width: 25px;
    margin-right: 6px;
}

#status_bar .subject_title {
    color: white;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

#chapter_title {
    color: #004d40;
    font-size: 30px;
    text-align: center;
}

#parent_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#topics_list_container {
    background-color: rgba(0, 0, 0, 0.71);
    backdrop-filter: blur(20px);
    width: 150px;
    height: 100%;
    border: 2px solid rgb(151, 148, 148);
    border-radius: 20px;
    margin-right: 10px;
    flex: 1;
}

#topics_list_container li {
    font-size: 20px;
    margin-bottom: 10px;
}

#notes_list_container {
    flex: 4;
}

.notes_container {
    margin: 10px 0px 10px 0px;
}

.notes_container fieldset {
    background-color: white;
}

.notes_container fieldset legend {
    background-color: white;
    padding: 3px 10px 3px 5px;
    font-size: 35px;
    color: #004d40;
    border-radius: 50px;
}

.notes_container fieldset p {
    font-size: 25px;
    color: black;
}

.note_add_container {
    margin: 10px 0px 10px 0px;
}

.note_add_container fieldset {
    background-color: #00695c;
}

#ref_links_container {
    background-color: blanchedalmond;
    height: 100%;
    width: 100%;
    flex: 2;
    margin: 0px 10px 0px 10px;
}

textarea {
    min-width: 100%;
    min-height: 100px;
    height: fit-content;
}

input[type="button"] {
    background-color: #0d1413;
    color: white;
    transition: 0.2s transform;
    border-radius: 15px;
    border: 1px solid white;
    cursor: pointer;
    box-shadow: 0 3px #999;
}

input[type="button"]:hover {
    transform: scale(1.2);
}

input[type="button"]:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}