html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 10px;
    overflow-x: hidden;
    background-color: #FBEEC1;
    background-image: url("../res/images/setremainder_background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 80% 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}


/* animation */

body {
    background: linear-gradient(270deg, #ff000040, #ff910044, #fff7003d, #6aff0042, #00ff6245, #00ffd04a, #00bbff3d, #004cff48, #6a00ff6f, #a06fe54d, #dd6fe546, #f0487d42, #f51c1c42);
    background-size: 2600% 2600%;
    -webkit-animation: AnimationName 32s ease infinite;
    -moz-animation: AnimationName 32s ease infinite;
    animation: AnimationName 32s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


/* animation ends here */

input[type="submit"] {
    background-color: #161e1d;
    color: white;
    transition: 0.2s transform;
    border-radius: 15px;
    border: 1px solid white;
    cursor: pointer;
    box-shadow: 0 3px #999;
}

input[type="submit"]:hover {
    transform: scale(1.09);
}

input[type="submit"]:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

form {
    display: inline-block;
    margin-top: 20%;
    margin-left: 77%;
    /* position: absolute; */
    top: 45%;
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); */
}